# all vars
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_DB=foodgram_db
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=somesecretkey
ALLOWED_HOSTS=127.0.0.1,localhost
DEBUG=False
USE_SQLITE=False